.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background: #f7f7f7;
}

.button__icon {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222222;
}
