.multi-select-checkbox {
  display: flex;
  flex-direction: column;
}

.multi-select-checkbox__option {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.multi-select-checkbox__label {
  margin-left: 8px;
}

input[type='checkbox'] {
  color: purple;
}
