.table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    font-family: 'Avenir Heavy';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.75;
  }
  
  .table__header-row {
    background-color: #e1e1e1;
    font-size: 18px;
    text-align: start;
    border-radius: 16px;
  }
  
  .table__header-cell {
    padding: 24px;
    text-align: start;
  }
  
  .table__data-row {
    border-bottom: 1px solid #e1e1e1;
  }
  
  .table__data-cell {
    padding: 24px;
    font-weight: 200;
  }
  
  @media (min-width: 576px) {
    .table {
      font-size: 18px;
      text-align: start;
    }
  }
  
  @media (min-width: 768px) {
    .table {
      font-size: 20px;
      text-align: start;
    }
  }
  
  @media (min-width: 992px) {
    .table__header-cell {
      font-size: 20px;
      text-align: start;
    }
  }